<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">


  <!-- Page-specific extra head content -->
  {{ page.head }}
  {% include nav.html %}
</head>
  
<body>



  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- Optional global scripts -->
  <script src="/script.js"></script>
  {{ page.scripts }}

</body>
</html>
